$text_color: #616161;
$dark_color: #425664;
$light_color: #f6f4f2;
$mid_color: #c6ad8f;


footer{
  background: $light_color;
  padding: 21px 0px;
  #footer{
    p{
      padding: 0px 6px 12px;
    }
    .left{
      float: left;
      width: 20%;
    }
    .middle{
      float: left;
      width: 40%;
    }
    .right{
      float: left;
      width: 40%;
    }
  } 
}